<f:layout name="Module" />

<f:section name="Content">
    <f:asset.css identifier="log-module-styles" href="EXT:rmnd_form_log/Resources/Public/Css/log-module.css" />
    <f:asset.script identifier="log-module-scripts" src="EXT:rmnd_form_log/Resources/Public/JavaScript/log-module.js" />

    <h1><f:translate key="LLL:EXT:rmnd_form_log/Resources/Private/Language/locallang_module.xlf:header" /></h1>

    <f:if condition="!{formIdentifiers}">
        <f:then>
            <div><f:translate key="LLL:EXT:rmnd_form_log/Resources/Private/Language/locallang_module.xlf:empty" /></div>
        </f:then>
        <f:else>
            <div class="row row-cols-auto align-items-end justify-content-between g-3 mb-3">
                <div class="col">
                    <f:translate key="LLL:EXT:rmnd_form_log/Resources/Private/Language/locallang_module.xlf:select_form" />
                    <ul class="form-list">
                        <f:for each="{formIdentifiers}" as="formIdentifier">
                            <li>
                                <a href="{formIdentifier.link}">{formIdentifier.name}</a>
                            </li>
                        </f:for>
                    </ul>
                </div>
                <div class="col">
                    <a href="{f:uri.action(action: 'downloadCsv', arguments:{formIdentifier: currentFormIdentifier})}" class="btn btn-default btn-sm">
                        <f:translate key="LLL:EXT:rmnd_form_log/Resources/Private/Language/locallang_module.xlf:download" />
                    </a>
                </div>
            </div>

            <div class="table-fit log-module__entries">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th><f:translate key="LLL:EXT:rmnd_form_log/Resources/Private/Language/locallang_module.xlf:date" /></th>
                            <f:for each="{headerElements}" as="headerElement">
                                <th>
                                    <f:if condition="{headerElement.label}">
                                        <f:then>{headerElement.label}</f:then>
                                        <f:else>{headerElement.identifier}</f:else>
                                    </f:if>
                                </th>
                            </f:for>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{entries}" as="entry" iteration="iterator">
                            <tr id="entry-{iterator.index}" class="log-module__entry {f:if(condition:'{iterator.isEven}', then: 'log-module__entry--even')}">
                                <td>{entry.crdate}</td>
                                <f:for each="{headerElements}" as="element" key="identifier">
                                    <td>{entry.formData.{identifier}}</td>
                                </f:for>
                            </tr>
                            <tr id="entry-data-{iterator.index}" class="log-module__data {f:if(condition:'{iterator.isOdd}', then: 'log-module__data--odd')}">
                                <td colspan="100%">
                                    <f:for each="{entry.formData}" as="value" key="key" iteration="formDataIterator">
                                        <div><b>
                                            <f:if condition="{elements.{key}.label}">
                                                <f:then>{elements.{key}.label}</f:then>
                                                <f:else>{key}</f:else>
                                            </f:if>
                                        </b></div>
                                        <f:if condition="{value.0}">
                                            <f:then>
                                                <f:for each="{value}" as="arrayValue">
                                                    <div>{arrayValue}</div>
                                                </f:for>
                                            </f:then>
                                            <f:else>
                                                <div>{value}</div>
                                            </f:else>
                                        </f:if>
                                        <f:if condition="!{formDataIterator.isLast}">
                                            <br>
                                        </f:if>
                                    </f:for>
                                    <br>
                                    <f:for each="{entry.additionalData}" as="value" key="key" iteration="additionalDataIterator">
                                        <div><b>{key}</b></div>
                                        <div>{value}</div>
                                        <f:if condition="!{additionalDataIterator.isLast}">
                                            <br>
                                        </f:if>
                                    </f:for>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                    <caption><f:translate key="LLL:EXT:rmnd_form_log/Resources/Private/Language/locallang_module.xlf:entries" arguments="{0: '{totalAmount}'}" /></caption>
                </table>
            </div>

            <f:render partial="SimplePagination" arguments="{paginator:paginator, pagination:pagination, formIdentifier: currentFormIdentifier}" />

        </f:else>
    </f:if>
</f:section>

</html>